#bt in đảo ngược số nguyên 
#include <iostream>
using namespace std;
int main() {
    int num;
    cout << "Nhap vao mot so nguyen: ";
    cin >> num;
    int arr[10], i = 0;
    while (num != 0) {
        arr[i] = num % 10;
        num /= 10; 
        i++;
    }
    cout << "So dao nguoc: ";
    for (int j = 0; j<i; j++) {
		cout << arr[j];
    }
    return 0;
}
